// Layout

$breakpoints: (
  // Breakpoint
);

$z-index: (
  // Element
);


// Returns breakpoints from the associated Sass map
@mixin media-query($breakpoint-name) {

  @if not map-has-key($breakpoints, $breakpoint-name) {
    @error 'Unknown breakpoint "#{$breakpoint-name}"';
  }

  @media #{map-get($breakpoints, $breakpoint-name)} {
    @content;
  }
}

@mixin reset-focus {

  &:focus {
    outline: 0;
  }
}

// Returns z-index order for the element passed in
@mixin z-index($element) {
  z-index: index($z-index, $element);
}

[data-view] {
  @include sy-ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;

  &[data-view-active] {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, -50%, 0);
  }

  &[data-view-next] {
    transform: translate3d(50%, -50%, 0);
  }

  &[data-view-previous] {
    transform: translate3d(-150%, -50%, 0);
  }
}
