// Layout

$breakpoints: (
  // Breakpoint
);

$z-index: (
  camera__img,
  character,
  confetti,
  confetti__item,
);


// Returns breakpoints from the associated Sass map
@mixin media-query($breakpoint-name) {

  @if not map-has-key($breakpoints, $breakpoint-name) {
    @error 'Unknown breakpoint "#{$breakpoint-name}"';
  }

  @media #{map-get($breakpoints, $breakpoint-name)} {
    @content;
  }
}

@mixin reset-focus {

  &:focus {
    outline: 0;
  }
}

// Returns z-index order for the element passed in
@mixin z-index($element) {
  z-index: index($z-index, $element);
}

[data-view] {
  @include sy-ease-out(.5);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate3d(-50%, -50%, 0);
  box-sizing: border-box;

  &[data-view-active] {
    opacity: 1;
  }

  &[data-view-centered] {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  &[data-view-next] {
    transform: translate3d(50%, -50%, 0);
  }

  &[data-view-previous] {
    transform: translate3d(-150%, -50%, 0);
    transition-duration: .4s;
  }

  [data-view] {
    left: 70%;

    &[data-view-next] {
      transform: translate3d(-50%, 50%, 0);
      transition-duration: .1s;
    }

    &[data-view-previous] {
      opacity: 0;
      transform: translate3d(-50%, -50%, 0);
      transition-duration: .1s;
    }
  }
}
