// Body

.body {
  height: 100%;
  color: $white;

  &:not([data-app='receive']) {
    max-width: 1024px;
    overflow: hidden;
    background-color: $gray-90;
  }

  &[data-app='receive'] {
    background-image: url('../images/placeholder.png');
    background-size: 100vw 100vh;
  }
}
