// Button

%button {
  width: 100%;
  height: initial;
  padding-right: 32px;
  padding-left: 32px;
  font-family: $base-font-family;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  border: 0;
}

%button--large {
  @include font-size('24');
  max-width: 244px;
  padding-top: 20px;
  padding-bottom: 20px;
}

%button--primary,
%button--secondary {
  @extend %button;
}

%button--primary {
  color: $gray-90;
  background-color: $white;
}

%button--secondary {
  @include font-size('16');
  font-weight: 400;
  letter-spacing: .1px;
  color: $white;
  background-color: transparent;
}
