.img__container {
  float: left;
  width: 25vw;
  height: 25vh;
  transform: rotate(180deg);
  overflow: hidden;
}

.img {
  @include ease-out($property: opacity);
  width: 50vh;
  height: 100%;
  opacity: 0;

  &[data-active] {
    opacity: 1;
  }
}
