// Section

.section {
  width: 60%;
  height: 100%;
  padding: 96px 64px;
  box-sizing: border-box;
}

.section__h2--confirmation,
.section__h2 {
  @extend %h2;
  margin-top: 112px;
  margin-bottom: 176px;
}

.section__h2--confirmation {
  @include sy-ease-out;
  transform: translate3d(133%, 0, 0);
  transition-delay: .3s;

  [data-view-active] [data-view-active] > & {
    transform: translate3d(0, 0, 0);
  }
}

.section__button,
.section__button--post-photo,
.section__button--reset {
  @extend %button--large;
}

.section__button,
.section__button--post-photo {
  @extend %button--primary;
}

.section__question-count,
.section__question,
.section__button--small,
.section__feedback {
  @include sy-ease-out;
  opacity: 0;
  transform: translate3d(0, 20%, 0);

  [data-view-active] > & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.section__question-count {
  padding: 2px 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $question-count-background;
  transition-delay: .3s;
}

.section__question {
  max-width: 464px;
  margin-top: 56px;
  margin-bottom: 112px;
  font-size: rem(28px);
  font-weight: bold;
  line-height: 40px;
}

.section__question,
.section__feedback {
  transition-delay: .4s;
}

.section__feedback-container {
  position: absolute;
  top: 100%;
  right: 62px;
  width: 45%;
  margin-left: 112px;
}

.section__feedback {
  font-size: rem(21px);
  font-weight: bold;
  line-height: 30px;
}

// .section__button--feedback {
//   position: relative;
//   bottom: -16px;
//   padding: 0;
//   text-align: left;
//   transition-delay: 1s;
// }

.section__button--small {
  @extend %button--primary;
  max-width: 152px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 24px;
  font-size: rem(20px);
}

.section__button--small {
  transition-delay: .5s;

  &:last-of-type {
    margin-right: 0;
  }
}

.section__title,
.section__title--small,
.section__title--conclusion {
  font-weight: bold;
}

.section__title,
.section__title--conclusion {
  margin-top: 192px;
  font-size: rem(72px);
  line-height: rem(88px);
  text-align: left;
}

.section__title--small {
  @include font-size('36');
  @include sy-ease-out;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 32px;
  transform: scale3d(1.4, 1.4, 1.4) translate3d(0, 75%, 0);
  transition-delay: 3s;
  transition-duration: .8s;
  transform-origin: top left;

  [data-view-active] > & {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

.section__ol {
  width: 100%;
  // max-width: 392px;
  padding-left: 0;
  margin-right: auto;
  margin-bottom: 56px;
  counter-reset: ol;

  [data-view-active] > & {

    .section__li {
      opacity: 1;
    }
  }
}

.section__li {
  @include sy-ease-out;
  display: flex;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;

  @for $index from 1 through 8 {

    &:nth-child(#{$index}) {
      transition-delay: (3s + ($index / 4));
    }
  }

  &::before {
    @include sy-ease-out;
    margin-right: 24px;
    content: counter(ol) '.';
    counter-increment: ol;
  }
}

.li__title {
  margin-right: 60px;
  white-space: nowrap;
}

.li__answer {
  margin-right: 16px;
  margin-left: auto;
}

.li__icon {
  width: 16px;
  height: 16px;

  &[data-icon='true'] {
    fill: $icon-happy;
  }

  &[data-icon='false'] {
    fill: $icon-sad;
  }
}

.section__button--post-photo,
.section__button--reset {
  @include sy-ease-out;
  transform: translate3d(0, 350%, 0);
  transition-delay: 5.33s;

  [data-view-active] > & {
    transform: translate3d(0, 0, 0);
  }
}

.section__button--reset {
  @extend %button--secondary;
  @include font-size('16');
  font-weight: 400;
  letter-spacing: .1px;
}
