// Touch button

.button--touch,
.button--touch__heading,
.button--touch__heading__explode,
.button--touch__instructions {
  opacity: 0;
  animation-duration: .3s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

.button--touch {
  width: 100%;
  height: 100%;
  padding: 0;
  color: inherit;
  text-align: initial;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  animation-delay: .1s;
}

.button--touch__heading,
.button--touch__instructions {
  z-index: -1;
  margin-left: 120px;
}

.button--touch__heading {
  margin-top: 96px;
  font-size: rem(100px);
  font-weight: bold;
  line-height: rem(140px);
  letter-spacing: normal;
  animation-delay: .3s;
}

.button--touch__heading__explode {
  display: inline-block;
  min-width: 420px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  line-height: normal;
  color: $gray-90;
  background-color: $white;
  animation-delay: .6s;
}

.button--touch__instructions {
  @include font-size('16');
  display: block;
  margin-top: 176px;
  letter-spacing: .1px;
  animation-delay: 1s;
}
