// Camera

.camera__img {
  @include z-index('camera__img');
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
  filter: blur(8px);
}

.camera__button,
.camera__button--confirm,
.camera__button--retake {
  @extend %button--large;
}

.camera__button,
.camera__button--confirm {
  @extend %button--primary;
}

.camera__button--confirm {
  margin-top: 160px;
}

.camera__button--retake {
  @extend %button--secondary;
}
