// Camera

.camera__h2 {
  @extend %h2;
  width: 66%;
  margin-top: 160px;
}

.camera__form {
  width: 100%;
  margin-bottom: auto;
  text-align: center;
}

.camera__container {
  @include z-index('camera__img');
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.camera__img {
  position: absolute;
  transform: translate3d(-25%, 0, 0);
}

.camera__img-restart {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 1;
  font-size: rem(14px);
  font-weight: bold;
  letter-spacing: .25px;
  color: $white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  -webkit-appearance: none;
  border: 0;
  opacity: 0;
  background: 0;
}

.camera__button,
.camera__button--confirm,
.camera__button--retake {
  @extend %button--large;
}

.camera__button,
.camera__button--confirm {
  @extend %button--primary;
}

.camera__button {
  margin-bottom: 248px;
}

.camera__button--confirm,
.camera__button--retake {
  @include sy-ease-out;
  transform: translate3d(0, 425%, 0);
  transition-delay: .6s;

  [data-view-active] [data-view-active] > & {
    transform: translate3d(0, 0, 0);
  }
}

.camera__button--confirm {
  margin-bottom: 24px;
}

.camera__button--retake {
  @extend %button--secondary;
}
