// Confetti

$total-confetti: 50;
$confetti-dimensions: 16px;

.confetti {
  @include z-index('confetti');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  [data-view-active] > & {

    .confetti__item {
      display: inline-block;
    }
  }
}

.confetti__item {
  @include z-index('confetti__item');
  position: absolute;
  display: none;
  width: $confetti-dimensions;
  height: $confetti-dimensions;
  opacity: 0;
  animation-duration: 2s;

  @for $index from 1 through $total-confetti {

    &:nth-child(#{$index}) {
      $background-color: rgb(random(255), random(255), random(255));

      background-color: $background-color;
      animation-delay: ((4 / 100) * $index) + s;
      animation-name: confetti, confetti--#{$index};
    }
  }
}

@keyframes confetti {

  0%,
  50%,
  100% {
    transform: skew(-33deg);
  }

  0% {
    top: -$confetti-dimensions;
    opacity: 1;
  }

  25%,
  75% {
    transform: skew(33deg);
  }

  100% {
    top: 75%;
    opacity: 0;
  }
}

@for $index from 1 through $total-confetti {

  @keyframes confetti--#{$index} {

    0% {
      left: (100% - random(100));
    }

    100% {
      left: (0% + random(100));
    }
  }
}
