// Selfie Guide

.selfie-guide {
  @include sy-ease-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

// [data-turn-camera],
// [data-take-photo],
// [data-look-here] {
//   opacity: 0;
// }

[data-view-active] > .selfie-guide {
  opacity: 1;
  transition-delay: 3s;
  transition-duration: 1s;
}
