.selfie-guide {
  @include ease-out(1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  pointer-events: none;
  opacity: 0;

  [data-view-active] > & {
    opacity: 1;
    transition-delay: 3s;
  }
}

[data-look-here],
[data-take-photo],
[data-turn-camera] {
  @include ease-out(0.8);
  font-family: $base-font-family;
  opacity: 0;
}

[data-look-here] {
  transition-delay: 5s;
}

[data-take-photo] {
  transition-delay: 6.5s;
}

[data-turn-camera] {
  transition-delay: 3.5s;
}

[data-selfie-guide] {
  &[data-active] {
    > [data-look-here],
    > [data-take-photo],
    > [data-turn-camera] {
      opacity: 1;
    }
  }
}
